<%= form_for(debate) do |f| %>
  <% if debate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(debate.errors.count, "error") %> prohibited this debate from being saved:</h2>
      <ul>
        <% debate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid form-background">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" method="post">
        <fieldset>
          <legend class="text-center header">Start a new debate!</legend>
            <div class="field">
              <span><strong>Step 1.</strong>Describe the topic/question you want to talk about</span><br>
              <%= f.label :topic %>
              <%= f.text_field :topic %>
            </div>

            <div class="field">
              <span><strong>Step 2.</strong> Add an image or something you feel represents what you want to talk about</span><br>
              <%= f.file_field :image %>
            </div>

            <div class="field">
            <strong>Step.3</strong> <%= f.label :description, 'Explain what the topic means. Define the key or important words in the topic.' %>
              <%= f.text_area :description %>
            </div>

            <div class="">
              <%= f.submit "Submit", :class => "btn btn-primary" %>
            </div>
          <% end %>
        </form>
      </fieldset>
    </div>
  </div>
</div>
