<% provide(:debates, "active") %>
<% provide(:title, "Debates") %>

<p id="notice"><%= notice %></p>
<div class="container">

<%= search_form_for @search do |f| %>

  <div class="field spacer">
    <%= f.label :topic_cont, "Debate keyword" %>
    <%= f.text_field :topic_cont %>
    <%= f.submit "Search", :class => "btn btn-primary"%>
    <%= link_to 'Start a New Debate', new_debate_path, class: "btn btn-primary" %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr class="debatebackground">
      <th class="col-md-3" >User</th>
      <th class="col-md-1"></th>
      <th class="col-md-2">Topic</th>
      <th class="col-md-4">Whats this debate about:</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @debates.each do |debate| %>

      <tr>
        <td> <strong>Started by: </strong><%= debate.user.email %> on the <%= debate.created_at.strftime('%m/%d/%y at %l:%M %p') %></td>
        <% if debate.image.present? %>
        <td class = "debateimage2"><%= image_tag debate.image, class:"debateimage2" %></td>
        <% else %>
        <td><img src="<%= asset_path 'default.png', class: 'debateimage2' %>" class = "debateimage2" alt="default image"></td>
        <% end %>
        <td class = "debatetable"><%= link_to debate.topic, debate_path(id: debate) %></td>
        <td class = "debatetable"><%= debate.description %></td>
        <td class = "debatetable"><%= link_to 'View this debate', debate, class: "btn btn-primary" %></td>
    </tr>

    <% end %>
  </tbody>
</table>
</div>
