<p id="notice"><%= notice %></p>
<% if flash.any? %>
  <div id="error_explanation">
    <ul>
      <% flash.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Containers and debate array display. -->
<div class="container ">
  <div class="row ">
    <div class="col-md-12 bordered">

      <div class="col-md-3 bordered imagearea">
        <strong>Image:</strong>
        <%= @debate.image %>
      </div>

      <div class = "col-md-3 bordered">
        <strong>Topic:</strong>
        <%= @debate.topic %><br>

        <strong>Created by:</strong>
        <%= @debate.user_id %>
      </div>

      <div class="col-md-6 bordered">
          <strong>Description:</strong>
          <%= @debate.description %>
      </div>

    </div>
  </div>
</div>

<!-- Links for updating/posting an argument -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn btn-secondary bordered">
        <%= link_to 'Change my debate topic', edit_debate_path(@debate), class: "btn btn-primary" %>
        <%= link_to 'Back to debates', debates_path, class: "btn btn-primary" %>
        <%= link_to 'For argument', pro_debate_submissions_path(@debate), class: "btn btn-primary" %>
        <%= link_to 'Against argument', con_debate_submissions_path(@debate), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<!-- Loop for the sub type pro column  -->

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <% @pro_submissions.each do |sub| %>
      <div class="submissioncard bordered <%= sub.sub_type %>">
        <h3><%= sub.user.email %></h3>
        <%= sub.content %>
      </div>
      <% end %>
    </div>
<!-- Loop for the sub type con column  -->
    <div class="col-md-5">
      <% @con_submissions.each do |sub| %>
      <div class="submissioncard bordered <%= sub.sub_type %>">
        <h3><%= sub.user.email %></h3>
        <%= sub.content %>
      </div>
      <% end %>
    </div>
  </div>
</div>
