  <p id="notice"><%= notice %></p>
  <% if flash.any? %>
    <div id="error_explanation">
      <ul>
        <% flash.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="">
  <p>
    <strong>Topic:</strong>
    <%= @debate.topic %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @debate.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @debate.description %>
  </p>

  <%= link_to 'Edit', edit_debate_path(@debate) %> |
  <%= link_to 'Back', debates_path %>

  <%= render 'submissions/form', submission: @submission %>
  </div>
  <div class="container">
    <div class="row">
      <% @submissions.each_with_index do |sub| %>
      <div class="col-md-5 col-md-offset-1 col-sm-3 submissioncard">
          <h3><%= sub.user.email %></h3>
          <%= sub.content %>
      </div>
      <% end %>
    </div>
  </div>
