<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Topic</th>
            <th>Content</th>
            <th>Total submissions</th>
          </tr>
        </thead>
        <tbody>
      		<% @debates.each do |debate| %>
      				<tr>
      	        <td><%= debate.topic %></td>
      	        <td><%= debate.description %></td>
                <td><%= debate.submissions.count %></td>
      	      </tr>
      		<% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-2">User email</th>
            <th class="col-md-1">Debates per user</th>
            <th class="col-md-3">Submissions per user</th>
          </tr>
        </thead>
        <tbody>

            <% @users.each do |user| %>
                <tr>
                  <td><%= user.email %></td>
                  <td><%= user.debates.count %></td>
                  <td><%= user.submissions.count %></td>
                </tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
