<%= form_for([submission.debate, submission]) do |f| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-fluid form-background">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" method="post">
        <fieldset>
          <legend class="text-center header">You are answering for team <%= @submission.sub_type %> </legend>
          <div class="field">
            <span><strong>Remember to provide any references for any facts etc!</strong></span><br>
            <%= f.text_area :content %>
          </div>
          <div class="field">
            <%= f.hidden_field :sub_type, :value => submission.sub_type %>
          </div>
          <div class="col-md-3 actions">
            <%= f.submit %>
          </form>
        </fieldset>
      </div>
      <% end %>
    </div>
  </div>
</div>
